@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Styles */
*,
*::before,
*::after {
  box-sizing:border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior:smooth;
  direction:rtl;
}

/* Intro Components Styles */
.header-container::before {
  content:'';
  position: absolute;
  inset:0;
  background-image:url('./Images/car-desktop-1920x1200.jpg');
  opacity:0.8;
  z-index:-1;
  filter:blur(4px);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.search-button {
	background:linear-gradient(to bottom, #c2c2c2 5%, #71b3bd 100%);
}
.search-button::before,
.search-button::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 20px;
  width: 20px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.search-button::before {
  top: 30%;
  animation-delay: 0.3s;
}
@keyframes scroll-down {
  100% {
    top: 90%;
    opacity: 0;
  }
}

.main-container {
  background:linear-gradient(to top, #c2c2c2 5%, #71b3bd 100%);
}
.table-box {
  width:60vw;
}

@media screen and (min-width:640px) and (max-width:1920px) {
  .search-area > input::placeholder {
    opacity:0;
  }

  td {
    font-size :2rem;
    padding:5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 900px) {

  .headers > h1 {
    font-size: 3rem;
    line-height: 2rem;
  }

  .car-header {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 640px) {

  .headers > h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .search-area {
    flex-wrap:wrap;
    gap:2;
    position:relative;
  }
  .head { 
    display:none;
  }
  .point-button {
    left:40%;
  }
  .search-area > input::placeholder {
    opacity:1;
    font-size:1rem;
  }
  tr {
    font-size : 1rem;
  }

  .pollution div {
    font-size:10px;
    width:max-content;
    height:max-content;
  }
  .pol-headers {
    display:none;
  }
}