body {
  background-color: rgb(154, 187, 183);
}

.App {
  font-family: sans-serif;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  inset: 0;
}

.header-container
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-image-data {
  margin-top: 10%;
  width: 350px;
  box-shadow: 5px 10px 5px rgb(53, 50, 50);
}

.search-container {

  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 20px;
}

.btnSearch {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:22px;
	font-weight:bold;
	padding:7px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.btnSearch:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.btnSearch:active {
	position:relative;
	top:1px;
}

.refresh-button {
  width: 30px;
}

.loading-search {
  z-index: 0;
  background-color: rgb(154, 187, 183);
}


p {
  display:  inline;
  font-size: 20px;
}

.btnC {
  width: 30%;
  padding: 10px;
  height: 2.5rem;
  border-radius: 20px;
  color: brown;
  font-weight: bold;
  font-size: larger;
  margin: 1%;
}

.car-header {
  text-align: center;
}

.carInfo:hover {
  color:royalblue;
  font-size: large; 
}

.tableCar {
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
}

.table-info {
  margin-top: 15%;
}
tr {
  height: 2rem;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0.5rem;
} 

.tdTable {
  width: 40%;
  height: 2rem;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: right;
  font-size: x-large;
  font-weight: bold;
}


.footer-container { 
  display: grid;
  grid-template-columns: repeat(3,33%);
  align-items: center;
  border: 1px black solid;
  width: 100%;
  max-height: 20vh;
  color: white;
  background-color:#263238;
  position: relative;
  bottom: 0;
  margin-top:32%;
}

.row {
  margin: 5px;
}

.row > h3 {
  text-align: center;
  font-weight: bold;
}
.row > div {
  text-align: center;
  margin-bottom: 2%;
}

a {
  color: rgb(116, 115, 115);
  text-decoration: none;
}
